<!DOCTYPE html>
<html lang="en">

  <%- include('../partial/head.ejs')%>

  <body class="bg-gradient-primary">

    <div class="container">

      <!-- Outer Row -->
      <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-2">Enter your new
                        password!</h1>
                      <p class="mb-4">We get it, stuff happens. Just enter your
                        new password to continue with us </p>
                    </div>
                    <form class="user" method="post" action="/new_password">
                      <div class="form-group">
                        <input type="hidden" name="id" value="<%= updateId %>">
                        <input type="password" style="margin-bottom: 10px;"
                          class="form-control form-control-user"
                          name="password"
                          placeholder="Enter your new password...">
                        <input type="password"
                          class="form-control form-control-user"
                          name="confirmPassword"
                          placeholder="Enter confirm password...">
                      </div>
                      <button class="auth-btn" type="submit">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

  </body>

</html>
